@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.background-image{
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255)), url("../assets/background.jpg") no-repeat center/cover;;
}



.orange{
    color: orange;
}



.sky-blue{
    color: skyblue;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 140px;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
}

.logo img{
    height: 62px;
}

.brand{
    font-weight: 700;
    font-size: 32px;
    color: black;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    margin-right: 32px;
}

.home{
    font-weight: 700;
    font-size: 1.25rem;
    color: orange;
}

.contact-btn{
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: orange;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.banner{
    /* max-width: 1158px; */
    display: flex;
    gap: 50px;
    margin: 0 140px;
    align-items: center;
}

.banner-content{
    /* max-width: 640px; */
}

.banner-title{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 24px;
}

.banner-description{
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.enrooll-btn{
    font-weight: 700;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
}

.banner img{
    width: 100%;
    height: auto;
}

.curriculum{
}

.curriculum-title{
    display: flex;
    justify-content: center;
    margin: 60px 349px 80px 349px;
    font-weight: 700;
    font-size: 2.9rem;
    color: #000000;
}

.curriculum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 140px;
    gap: 30px;
}

.card{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 476px;
    border-radius: 18px;
}

.card img{
    margin-top: 52px;
}

.card-title{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 32px;
    color: #202020;

}

.curriculum-description{
    font-weight: 500;
    font-size: .9rem;
    margin: 33px 40px;
    color: #808080;
}

.read-more-btn{
    background-color: white;
    color: rgba(240, 170, 0, 1);
    border: none;
    margin-top: 33px;
    margin-bottom: 53px;
    padding: 4px 23px 4px 0;
}

.one{
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF,#ffffff, #ffffff, #ffffff);
}

.two{
    background: linear-gradient(to bottom,#FFF4DC, #FFFFFF,#ffffff, #ffffff, #ffffff);
}

.three{
    background: linear-gradient(to bottom,#F2E8FF, #FFFFFF,#ffffff, #ffffff, #ffffff);
}

.btn-color-1{    
    color: #64C8FF;
}
.btn-color-2{    
    color: #F0AA00;
}
.btn-color-3{    
    color: #8700FF;
}
.arrow-buttons{
    display: flex;
    gap: 10px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}
.arrow{
    background-color: orange;
    padding: 17px 22px;
    border: none;
    border-radius: 50%;
    color: #FFFFFF;
}


.stories-section{
    background: 
    linear-gradient(to top, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 1)),
    url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
}   

.section-title{
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700px;
    margin-top: 60px;
}

.stories-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 18px;
    margin: 80px 140px;
}

.story-card{
    background-color: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
}
.story-card img{
    width: 100%;
    display: block;
}

.story-card.large{
    grid-row: span 2;
}

.date{
    font-size: .9rem;
    font-weight: 500;
    color: #FFFFFF;
    padding: 15px 19px;
    margin-left: 38px;
    border: none;
    border-radius: 48px;
}

.story-card h3{
    font-size: 1.5rem;
    font-weight: 700px;
    color: #000000;
    margin-top: 36px;
}

.story-card p{
    font-size: .9rem;
    font-weight: 500;
    color: #666666;
    margin: 47px 68px 34px 38px;

}

.story-card h4{
    font-size: .9rem;
    font-weight: 700;
    color: #000000;
    margin: 23px 37px 33px 37px;
}

.btn-container{
    text-align: center;
    padding-bottom: 60px;
    
}

.view-all{
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 61px;
    border: none;
    border-radius: 12px;
    background-color: black;
    cursor: pointer;

}

.blue{
    background-color: #3CD8E8;
}

.green{
    background-color: #95B226;
}

footer{
    background-color: #01ACFD;
    margin: 0;
    height: 519px;
}


.footer-logo-title{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    padding: 123px 228px 105px 140px;
}

.logo-title{
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 35px;
    max-width: 299px;
    height: 82px;
}
.logo-title img{
    max-width: 83px;
    height: 82px;
}
.logo-title h2{
    font-size: 2.6rem;
    font-weight: 700;
    color: #FFFFFF;
}
.footer-description{
    max-width: 399px;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin-right: 172px;
}
.about h3{
    margin-bottom: 32px;
}

.about{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.about li{
    list-style: none;
    margin-bottom: 20px;

}
.about li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFFFFF;
}
.conaction{
    margin-bottom: 160px;
    text-align: center;
}

.conaction h4{
    font-size: 1.625rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.social img{
    margin-left: 10px;
}






@media screen and (max-width: 576px) {

    
    .navbar{
        margin: 0;
        padding: 12px 16px;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid orange ;
    }

    
   

    .brand, 
    .arrow-buttons{
        display: none;
    }
   
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
    }

    .hamburger{
        display: block;
        width: 30px;
    }

    .contact-btn{
        display: none;
    }

    .banner{
        text-align: center;
        flex-direction: column-reverse;
        margin: 0 16px;
    }

    .banner img{
        max-width: 336px;
        height: auto;
    }

    .curriculum-card{
        grid-template-columns: repeat(1, 1fr);
    }

    
     
    .curriculum-description, 
    .stories-grid{
        margin: 0;
    }
    .curriculum-card{
        max-width: 357px;
    }

    .curriculum-title{
        margin: 40px 64px 0 64px;
    }

    .curriculum-card{
        margin: 20px 16px;
    }

    .stories-grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 16px;
    }
    .story-card.large{
        display: none;
    }
    .stories-section{
      
    }
    .section-title{
        margin: 40px 0 20px 0;
    }
    .date{
        margin-top: -10px;
        font-size: .7rem;
    }

    .story-card h3{
        text-align: center;
    }

    .story-card h4{
        font-size: .7rem;
        margin: 11px 23px 17px 22px;
    }

    .btn-container{
        text-align: center;
        margin-top: 20px;
    }
    .view-all{
        padding: 5px 37px;
        font-size: 1rem;
    }

    footer{
        height: 642px;
        margin: 0;
    }
    .footer-logo-title{
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }
    

    .logo-title img{
        max-width: 69px;
    }

    .logo-title{
        max-width: 250px;
        height: 69px;
        margin-top: 65px;
        margin-left: 16px;
    }
    .footer-title{
        font-size: 2rem;
    }
    .footer-description{
        font-size: 1rem;
        margin-left: 20px;
        margin-right: 0;
        padding: 10px;
    }
    .about h3{
        margin-top: 10px;
        margin-left: 10px;
    }
    .about li{
        margin-left: 10px;
        margin-bottom: 0;
    }
    .conaction{
        margin-left: 10px;
        margin-bottom: 0;
        text-align: left;
        font-size: 1.25rem;
        width: 200px;
        

    }
    .social{
        text-align: left;
    }

    .social img{
        max-width: 33px;
        height: 33px;
        margin-left: 0;
    }
    
}